<div id="w" itemscope itemtype="http://schema.org/Person">
    <header class="clearfix">
        <div id="info">
            <h1 style="text-align: left;"><span itemprop="name"><a href="https://github.com/ChocolateAceCream?tab=repositories" itemprop="url" target="_blank">Di Sheng</a></span>

            </h1>
            <h3><span itemprop="jobTitle">Ruby on Rails Web Developer</span></h3>
            <small itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="addressLocality">Syosset</span>,
                <span itemprop="addressRegion">New York</span>,
                <span itemprop="addressCountry">USA</span>
            </small>
        <br>
        <br>

        <h4><p>Email: <a href="mailto:nuodi@hotmail.com">nuodi@hotmail.com</a></p></h4>
            <h4><%= link_to 'Download PDF version resume', 'resume-2016-SD.pdf', download: '' %></h4>
        </div>

        <div id="photo">

            <%= image_tag("self.jpg", alt: 'Di Sheng Resume Photo avatar', itemprop: 'image') %>
        </div>
    </header>

    <section id="profile">
        <h2 style="text-align: left;   font-size: 2.2em;">My History &amp; Profile</h2>
        <p itemprop="description">During my past several years of university study as well as work experience, I have learned relevant information in software development, IT supporting, web developing with javascript and ruby on rails. Several projects and research have helped me to enhance my analytical ability, computation, problem solving skills and working in a team. My excellent logical ability and rationality allows me to explore better ways of accomplishing tasks, even under pressure.</p>

        <p>My engineering background always drives me to think in user's point of view. Besides, the cross-disciplinary studying opened my scope and enhanced my learning ability.</p>
    </section>

    <section id="skills" class="clearfix" itemscope itemtype="http://schema.org/ItemList">
        <h2 style="text-align: left;   font-size: 2.2em;",itemprop="name">Skillset</h2>
        <section id="skills-left">
            <ul id="skill_set">

                <h4 itemprop="about">Development</h4>
                <li itemprop="itemListElement">HTML5/CSS3</li>
                <li itemprop="itemListElement">JavaScript &amp; ReactJS</li>
                <li itemprop="itemListElement">TTD &amp; SCRUM</li>
                <li itemprop="itemListElement">Ruby on Rails</li>
                <li itemprop="itemListElement">SQL(PostgreSQL &amp; SQLite)</li>
                <li itemprop="itemListElement">PowerShell</li>
                <li itemprop="itemListElement">IT Supporting</li>
                <li itemprop="itemListElement">Some C/C++</li>
            </ul>
        </section>

        <section id="skills-right">
            <ul id="skill_set">
                <h4 itemprop="about">Software/Platform</h4>
                <li itemprop="itemListElement">Vim</li>
                <li itemprop="itemListElement">Git</li>
                <li itemprop="itemListElement">AWS EC2/Datastore</li>
                <li itemprop="itemListElement"> MS Office&amp; Project</li>
                <li itemprop="itemListElement">AutoCAD</li>
                <li itemprop="itemListElement">Salesforce</li>
                <li itemprop="itemListElement">JIRA/Confluence</li>
            </ul>
        </section>
    </section>

    <section id="education">
        <h2 style="text-align: left;   font-size: 2.2em;">Past Education</h2>
        <p><span itemprop="alumniOf"><strong>&#9899 New York Institute of Technology, Old Westbury, NY</strong></span> <p style="text-align: left;">Master of Science in Computer Science (2016, GPA 4.0/4.0)</p>    </p>

        <p><span itemprop="alumniOf"><strong>&#9899 University of Toronto, Department of Chemical Engineering, Toronto, Canada</strong></span> <p style="text-align: left;">Bachelor of Applied Science and Engineering (2013)</p>    </p>

        <p><span itemprop="alumniOf"><strong>&#9899 Seneca College, Department of Information & Communication Technology, Toronto, Canada</strong></span> <p style="text-align: left;">Studied in the Department of Information & Communication Technology (2008)</p>    </p>

    </section>

    <section id="experience">
        <h2 style="text-align: left;   font-size: 2.2em;">Work Experience</h2>
        <p><span itemprop="alumniOf"><strong>&#9899 Zebra Technology, Holtsville, NY</strong></span> <p style="text-align: left;">Test Engineer
        (August 2016 – Present)</p>    </p>

        <p><span itemprop="alumniOf"><strong>&#9899 Kalki Consulting LLC, New York City, NY</strong></span> <p style="text-align: left;">Programmer Intern
        (January 2016 – May 2016)</p>    </p>

        <p><span itemprop="alumniOf"><strong>&#9899 New York Institute of Technology, Old Westbury, NY</strong></span> <p style="text-align: left;">Research Assistant
        (September 2015 – December 2015)</p>    </p>

        <p><span itemprop="alumniOf"><strong>&#9899 JB Analytical Inc., Syosset, NY</strong></span> <p style="text-align: left;">Website Developer
        (May 2014 – September 2014)</p>    </p>

    </section>
    <%#
            <section id="articles">
    <h2>Recent Articles</h2>
    <p itemscope itemtype="http://schema.org/Article">
    <span itemprop="name">
    <a href="http://www.hongkiat.com/blog/css-javascript-fallback-methods/" itemprop="url" title="10 Useful Fallback Methods For CSS And Javascript">10 Useful Fallback Methods For CSS And Javascript</a></span> &bull; Published in <span itemprop="datePublished">July 2012</span></p>

    <p itemscope itemtype="http://schema.org/Article">
    <span itemprop="name">
    <a href="http://www.hongkiat.com/blog/wordpress-url-rewrite/" itemprop="url" title="Rewriting URLs In WordPress: Tips And Plugins">Rewriting URLs In WordPress: Tips And Plugins</a></span> &bull; Published in <span itemprop="datePublished">July 2012</span></p>

    <p itemscope itemtype="http://schema.org/Article">
    <span itemprop="name">
    <a href="http://www.hongkiat.com/blog/jpeg-optimization-guide/" itemprop="url" title="JPEG Optimization For The Web – Ultimate Guide">JPEG Optimization For The Web – Ultimate Guide</a></span> &bull; Published in <span itemprop="datePublished">July 2012</span></p>

    <p itemscope itemtype="http://schema.org/Article">
    <span itemprop="name">
    <a href="http://www.hongkiat.com/blog/design-perfect-newsletter/" itemprop="url" title="9 Tricks To Design The Perfect HTML Newsletter">9 Tricks To Design The Perfect HTML Newsletter</a></span> &bull; Published in <span itemprop="datePublished">May 2012</span></p>

    <p itemscope itemtype="http://schema.org/Article">
    <span itemprop="name">
    <a href="http://www.hongkiat.com/blog/google-website-optimizer-ab-testing-guide/" itemprop="url" title="Guide To A/B Testing With Google Website Optimizer">Guide To A/B Testing With Google Website Optimizer</a></span> &bull; Published in <span itemprop="datePublished">March 2012</span></p>
    </section>
%>
</div>
