<div class="center jumbotron">
    <h1>Web Portfolio of Di Sheng</h1>

    <h2 style="line-height: 1.7em;">
        Thanks for stopping by.<br>

        You may also look at my
        <a href="https://github.com/ChocolateAceCream?tab=repositories" target="_blank">Github Profile</a>
    </h2>

</div>
<div>
    <div align="left">

         <li itemprop="itemListElement">Blog App login account: example@railstutorial.org</li>
         <li itemprop="itemListElement">Blog App login passoword: foobar</li>
         <li itemprop="itemListElement">Chat App login account: admin1, admin2</li>
         <li itemprop="itemListElement">Chat App login passoword: foobar</li>
         <li itemprop="itemListElement">Pi Project login email: admin@mail.com</li>
         <li itemprop="itemListElement">Pi Project login passoword: 123qweasd</li>
    </div>

    <div align="right">
<%= link_to image_tag("icon.jpg", alt: "My logo", id:"github_icon" ),
'https://github.com/ChocolateAceCream?tab=repositories' %>
    </div>

</div>
