<div class="center jumbotron">
    <h1>Web Portfolio of Di Sheng</h1>

    <h2 style="line-height: 1.7em;">
        Thanks for stopping by.<br>

        You may also look at my
        <a href="https://github.com/ChocolateAceCream?tab=repositories" target="_blank">Github Profile</a>
    </h2>

</div>

<%= link_to image_tag("icon.jpg", alt: "My logo", id:"github_icon" ),
'https://github.com/ChocolateAceCream?tab=repositories' %>
