<footer class="footer">
  <small>
      Software is like sex: it's better when it's free ---
      <a href="https://en.wikiquote.org/wiki/Linus_Torvalds">Linus Torvalds</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Myself",   about_path %></li>
      <li><%= link_to "Contact Info", contact_path %></li>
      <li><a href="https://news.ycombinator.com/" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>
